.footer {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    padding        : 0 11.5rem 5.3rem 11.5rem;

}

.footer-menu {
    display    : flex;
    align-items: center;
}

.footer-menu-item {
    padding-left: 2.4rem;
}

.footer-menu-link {
    font-size: 3.3rem;
    color    : var(--color-primary);
}

.copywrite {
    padding-right: 3.5rem;
    flex-shrink  : 0;
}

.details {
    display        : flex;
    justify-content: center;
    align-items    : center;
    background     : #fff;
    font-size      : 1.4rem;
    padding        : 1rem 0;
    cursor         : pointer;
}

@media screen and (max-width: 425px) {

    .footer-nav-right {
        display: none;
    }

    .footer {
        padding       : 2rem 0 2rem 0;
        flex-direction: column;
    }

    .copywrite {
        padding-right: 0;
    }
}